.idea/
.vagrant/
vendor/
logs/*
data/*.sqlite3
tmp/*
bin/*
public/minified/*
public/xcache/*
public/statera/*
uploads/*
metrics/*
*.iml
*.log
public/metrics/*
public/docs/*
/nbproject/private/
/.php-cs-fixer.cache
